

<div class="container p-0">
  <footer class="mainfooter mt-3" role="contentinfo">
    <div class="footer-top p-y-2">
      <div class="container-fluid">
      </div>
    </div>
    <div class="footer-middle">
      <div class="container">
        <div class="row d-flex align-items-stretch">

          <div class="col-md-4 d-flex align-items-center colum-a ">
            <!--Column1-->
            <div class="footer-pad">
              <h3>Home</h3>
              <ul class="list-unstyled">
                <a href="<%= root_path %>">
                  <li>Inicio</li>
                </a>
                <a href="<%= pages_about_path %>">
                  <li>Sobre Ox</li>
                </a>
                <a href="<%= pages_catalogue_path %>">
                  <li>Catalogo</li>
                </a>
                
                
                
                <li>
                  <div class="button-download-pdf">
                    Catalogo<i class="ml-1 fas fa-chevron-down"></i>
                  </div>
                </li>
              </ul>
            </div>
          </div>


          <div class="col-md-4 d-flex align-items-center colum-b ">
            <!--Column1-->
            <div class="footer-pad">
              <a class="navbar-brand" href="<%= root_path %>">
                <%= image_tag 'logo.png', class: '' %>
              </a>
                
            </div>
          </div>


          
          
          <div class="col-md-4 d-flex align-items-center p-2 colum-c">
            <!--Column1-->
            <div class="footer-pad">
             <h3>Contacto</h3>
              <ul class="list-unstyled">
                <li><h6>TELÉFONOS<i class="fas fa-phone-square ml-2"></i></h6></li>
                <li class="">+56 9 7216 5082</li>
                <li class="">+56 9 9369 0093</li>
                <br>
                <li><h6>CORREO <i class="far fa-envelope-open ml-2"></i></h6></li>
               
                <li class="">contacto@ox.cl</li>
              </ul>
              
            </div>
          </div>



        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <!--Footer Bottom-->
            <p class="text-xs-center">&copy; Copyright 2018 - Ox Chile</p>
          </div>
          <div class="col-xs-12 col-md-6">
             <ul class="logos-footer">
                <li>
                  
                    <figure class="figure">
                      <%= image_tag 'Logo-02.png', class: 'figure-img img-fluid ', width:'80rem' %>
                    </figure>
                </li>
                <li>
                  <a href="http://lumichile.com/" target="_blank">
                    <figure class="figure ">

                        <%= image_tag 'lumi-f.png', class: 'figure-img img-fluid ', width:'80rem' %>
                     
                    </figure>
                  </a>
                </li>
              </ul>

          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<script>
  if ('<%= params[:controller] %>/<%= params[:action] %>'== 'pages/index') {
    $('a[href="/"]').parent('li').addClass('active');
  }else {
    $('a[href="/<%= params[:controller] %>/<%= params[:action] %>"]').parent('li').addClass('active');
  }
</script>
