


<footer class="mainfooter" role="contentinfo">
  <div class="footer-top p-y-2">
    <div class="container-fluid">
    </div>
  </div>
  <div class="footer-middle">
  <div class="container">
    <div class="row">

      <div class="col-md-4 d-flex align-items-center colum-a">
        <!--Column1-->
        <div class="footer-pad">
          
          <ul class="list-unstyled">
            <li><h6>TELÉFONOS<i class="fas fa-phone-square ml-2"></i></h6></li>
            <li class="">+56 9 7216 5082</li>
            <li class="">+56 9 9369 0093</li>
            <br>
            <li><h6>CORREO <i class="far fa-envelope-open ml-2"></i></h6></li>
           
            <li class=""><a href="#">contacto@ox.cl</a></li>
          </ul>
        </div>
      </div>


      <div class="col-md-4 d-flex align-items-center colum-b">
        <!--Column1-->
        <div class="footer-pad">
            
        </div>
      </div>


      
      
      <div class="col-md-4 d-flex align-items-center logos-footer">
        <!--Column1-->
        <div class="footer-pad">
          <ul>
            <li>
              
                <figure class="figure">
                  <%= image_tag 'Logo-02.png', class: 'figure-img img-fluid', width:'100rem' %>
                </figure>
            </li>
            <li>
              <a href="https://www.asech.cl/noticias/entrevista-alejandro-huberman-socios-fundador-ox-limitada/" target="_blank">
                <figure class="figure ">
                  

                
                    <%= image_tag 'asech-logo.png', class: 'figure-img img-fluid ', width:'100rem' %>
                  
                 
                </figure>
              </a>
            </li>
          </ul>
          
        </div>
      </div>



    </div>
  </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--Footer Bottom-->
          <p class="text-xs-center">&copy; Copyright 2018 - Ox Chile</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<script>
  if ('<%= params[:controller] %>/<%= params[:action] %>'== 'pages/index') {
    $('a[href="/"]').parent('li').addClass('active');
  }else {
    $('a[href="/<%= params[:controller] %>/<%= params[:action] %>"]').parent('li').addClass('active');
  }
</script>
