<div class="container header ">
    <div class="row ">

      <div class="col-md-12 text-center">
        <div class="w-100 text-center p-1">
          <%= image_tag 'logosmall.png', class: 'logo' %>
        </div>
      </div>

    </div>
  </div>


<nav class="container navbar navbar-expand-lg navbar-dark ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="<%= root_path %>">Home </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= pages_about_path %>">Sobre Ox</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= pages_catalogue_path %>">Catalogo</a>
                  </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a href="<%= orders_path %>" class="nav-link btn btn-secondary mr-2">Cotizaciones</a>
                  </li>
                  <% if current_user.present? %>
                    <%= link_to 'Cerrar Sesión', destroy_user_session_path, class:'btn btn-secondary',method: :delete %>
                  <% else %>
                  <li class="nav-item">
                    <a href="<%= new_user_registration_path %>" class="nav-link btn btn-secondary">Registrate</a>
                  </li>
                  <li class="nav-item">
                    <a href="<%= new_user_session_path %>" class="nav-link btn btn-secondary ml-2">Iniciar Sesión</a>
                  </li>
                  <% end %>
                </ul>

            </div>

</nav>
