<%= render 'shared/navbar' %>

<div class="container text-white">
  <% if @orders.size == 0 %>
    <h4>No tienes productos para cotizar</h4>
    <h5>vuelve al catalogo para agregar <%= link_to 'catalogo', pages_catalogue_path %></h5>
  <% else %>
  <div class="container text-light mt-5">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
          <th>Subtotal</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.product.cod %></td>
            <td><%= order.product.tipo %></td>
            <td>
              <%= form_tag update_quiantity_order_path(order.id) do %>
                <%= number_field_tag :quantity, order.quantity.to_i %>
                <!-- <input type="number" name="quantity" value="<%#= order.quantity %>"> -->
              <% end %>
            </td>
            <td><%= order.product.price %></td>
            <td><%= order.product.price.to_i * order.quantity.to_i %></td>
            <td><%= link_to 'Borrar', order_path(order), method: :delete, class: 'btn btn-danger' %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>Total: <%= @total %></td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-sm-3 offset-sm-9">
        <% if current_user.present? %>
        <%= link_to 'Cotizar', orders_quote_path, class: 'btn btn-secondary mb-5' %>
        <% else %>
        <%= link_to 'Registrate para cotizar', new_user_registration_path, class: 'btn btn-secondary mb-5' %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
