
<div class="w-body mr-top">





  <div class="container cat-menu mr-top">
  <div class="row">
    <!-- <div class="col-md-3 menu-cat-col">
      <h3> Categorías</h3>
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Categoria 1</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck2">
        <label class="custom-control-label" for="customCheck2">Categoria 2</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck3">
        <label class="custom-control-label" for="customCheck3">Categoria 1</label>
      </div>

      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck4">
        <label class="custom-control-label" for="customCheck4">Categoria 1</label>
      </div>
    </div> -->
  </div>
  </div>

  <div class="container mr-top">
    <div class="row">

       <div class="offset-md-2 col-md-10">
          <div class="row">
            <% @products.each do |product| %>
              <div class="p-1 d-flex aligns-item-strech">
                <div class="card mr-top align-top" style="width: 19rem;">
                  <div class="card-img-box" style="background-image:url('<%= product.photos.first.image %>')">
              
                  </div>
                  <!--<%= image_tag product.photos.first.image, class: 'card-img-top' %>-->
                  <div class="card-body d-flex align-items-end">
                    <div class="">
                      <h5 class="card-title"><%= product.tipo %></h5>
                      <p class="card-text"><%= product.descripcion %></p>
                      <div class="text-right">
                        <%= link_to 'ver', product_path(product), class: 'btn btn-secondary text-white' %>
                        <%= link_to '+', product_orders_path(product.id), data: { remote: true, method: :post }, class: 'btn btn-success text-white' %>
                      </div>
                     
                    </div>
                    
                  </div>
                </div>
              </div>


            <% end %>

          </div>

      </div>
    </div>
  </div>

</div>


