<div id="carouselExampleIndicators" class="carousel slide mr-top mr-bottom" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'Ortuzar1.jpg', class: 'd-block w-100' %>
      <div class="carousel-caption d-none d-md-block">

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag 'logo.png', class: 'logo-caption' %>
              <%= image_tag 'Logo-02.png', class: 'logo' %>
            </div>
            <div class="col-md-6">
              
                <p>
                  Es una empresa de importación y comercialización de accesorios, principalmente de acero
                  inoxidable que se incorporan en baños, cocinas y otros espacios de una vivienda
                </p>
            </div>
          </div>
        </div>


    </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container-fluid ">
  <div class="row">
    
    <div class="col-md-12 no-pad mt-3">
      <div class="d-flex flex-row product-carousel">

              <%= image_tag 'H1.jpg', class: 'link-img img-fluid p-2 align-middle' %>

        <%  @products.each do |product|%>

              <%= image_tag product.photos.first.image, class: 'figure-img img-fluid p-2 align-middle' %>

        <% end %>

      </div>
    
    </div>
  </div>
</div>

<div class="container-fluid ">
  <div class="row">
    
    <div class="col-md-12 no-pad mt-3">
      <div class="d-flex flex-row product-carousel">

              <%= image_tag 'H1.jpg', class: 'link-img img-fluid p-2 align-middle' %>

        <%  @products.each do |product|%>

              <%= image_tag product.photos.first.image, class: 'figure-img img-fluid p-2 align-middle' %>

        <% end %>

      </div>
    
    </div>
  </div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 no-pad mt-3">
      <div class="">
        <figure class="figure">
          <%= image_tag 'slide11.png', class: 'img-fluid' %>
          <a href="">
            <figcaption class="figure-caption lumi-link">
              <button class="btn btn-outline-warning btn-lg">
                Ver Mas
              </button>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>
