<div id="carouselExampleIndicators" class="carousel slide mr-top mr-bottom elegant" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'Ortuzar1.jpg', class: 'd-block w-100' %>
      <div class="carousel-caption d-none d-md-block">

        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <%= image_tag 'logo.png', class: 'logo-caption' %>
              <%= image_tag 'Logo-02.png', class: 'logo' %>
            </div>
            <div class="col-md-6">

                <p>
                  Es una empresa de importaci칩n y comercializaci칩n de accesorios, principalmente de acero
                  inoxidable que se incorporan en ba침os, cocinas y otros espacios de una vivienda
                </p>
            </div>
          </div>
        </div>


    </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<div class="container-fluid">
  <div class="row mt-3 product-carousel elegant ">
    <div class="col-md-3 no-pad">
      <div class="image-wrapper bkg-full-pro bkg-1">
              
              <%= image_tag 'H1.jpg', class: 'link-img img-fluid  align-middle ghost ' %>
              <h3 class="">
                Catalogo
                <a class="" href="<%= pages_catalogue_path %>">
                 <button class="btn btn-outline-success">Ver M치s</button>
                </a>
               
              </h3>
          </div>
    </div>
    <div class="col-md-3">
      <figure class="figure">
        

        <div class="image-wrapper" >
          <%= image_tag 'index-cat1.png', class: 'm-2 elegant img-fuild ', style: 'width: 100%'%>
          <a href="<%= pages_catalogue_path %>">
            <h4>Ver Producto</h4>
          </a>
        </div>

      </figure>
    </div>

    <div class="col-md-3">
      <div class="image-wrapper" >
        <%= image_tag 'index-cat2.png', class: 'm-2 elegant img-fuild ', style: 'width: 100%'%>
        <a href="<%= pages_catalogue_path %>">
          <h4>Ver Producto</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="image-wrapper" >
        <%= image_tag 'index-cat3.png', class: 'm-2 elegant img-fuild ', style: 'width: 100%'%>
        <a href="<%= pages_catalogue_path %>">
          <h4>Ver Producto</h4>
        </a>
      </div>
    </div>
  </div>
</div>



<div class="container-fluid ">
  <div class="row">
    <div class="col-md-12 no-pad mt-3 elegant">
      <div class="">
        <figure class="figure">
          <%= image_tag 'slide11.png', class: 'img-fluid' %>
          <a href="">
            <figcaption class="figure-caption lumi-link">
              <button class="btn btn-outline-warning btn-lg">
                Ver Mas
              </button>
            </figcaption>
          </a>
        </figure>
      </div>
    </div>
  </div>
</div>
