<!--<div id="carouselExampleIndicators" class="carousel slide mr-top mr-bottom elegant" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'Ortuzar1.jpg', class: 'd-block w-100' %>
      <div class="carousel-caption d-none d-md-block">

        <div class="container">
          <div class="row">
            
            <div class="offset-md-4 col-md-4 caption-box ">
                <figure class="figure">
                  <%= image_tag 'iso.png', class: 'logo-caption' %>
                </figure>
                <p>
                   Importación y comercialización de accesorios de acero
                  inoxidable que se incorporan en baños, cocinas y otros espacios de una vivienda
                </p>
                <figure class="figure">
                  <%= image_tag 'Logo-02.png', class: 'logo' %>
                </figure>
            </div>
          </div>
        </div>


    </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>-->

<div class="container-fluid header elegant mt-3">
  <div class="row  elegant header-row p-1">

    <div class="col-md-4">
      <div class="w-100 text-center middle-align">
        <%= image_tag 'logo.png', class: 'logo' %>
      </div>
    </div>

    <div class="col-md-8 header-text middle-align">
      <p>Importación y comercialización de accesorios de acero
        inoxidable que se incorporan en baños, cocinas y otros espacios de una vivienda
      </p>
    </div>

  </div>
</div>



<div class="container-fluid test-flex">
  <div class="row mt-3 product-carousel ">
    <div class="col-md-3 no-pad parent-link">
      <div class="image-wrapper bkg-full-pro bkg-1 link-to-projects ">

              <%= image_tag 'H1.jpg', class: 'link-img img-fluid   align-middle ghost ' %>
              <h3 class="">
                Catalogo
                <a class="" href="<%= pages_catalogue_path %>">
                 <button class="btn btn-outline-success">Ver Más</button>
                </a>

              </h3>
          </div>
    </div>

    <div class="col-md-9 ">
      <div class="carousel-pro d-flex align-items-stretch h-100">
        <% @products.each do |product| %>
          <div class="pro-box d-flex align-items-end" style="background-image:url('<%= product.photos.first.image %>'); height: 100% !important; ">
            <div class="caption-product">
              <h5><%= product.tipo %></h5>
              <%= link_to 'ver', product_path(product), class: 'btn btn-secondary text-white' %>
            </div>
            
          </div>
        <% end %>
      </div>
    </div>

    <!--<div class="col-md-3 parent-link">
      <figure class="figure">


        <div class="image-wrapper link-to-projects" >
          <%= image_tag 'index-cat1.png', class: 'm-2 elegant img-fuild ', style: 'width: 100%'%>
          <a href="<%= pages_catalogue_path %>">
            <h4>Ver Producto</h4>
          </a>
        </div>

      </figure>
    </div>

    <div class="col-md-3 parent-link">
      <div class="image-wrapper link-to-projects" >
        <%= image_tag 'index-cat2.png', class: 'm-2 elegant img-fuild ', style: 'width: 100%'%>
        <a href="<%= pages_catalogue_path %>">
          <h4>Ver Producto</h4>
        </a>
      </div>
    </div>
    <div class="col-md-3 parent-link">
      <div class="image-wrapper link-to-projects" >
        <%= image_tag 'index-cat3.png', class: 'm-2 elegant img-fuild ', style: 'width: 100%'%>
        <a href="<%= pages_catalogue_path %>">
          <h4>Ver Producto</h4>
        </a>
      </div>
    </div>-->

  </div>
</div>

<script>
  $('.carousel-pro').slick({
      
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      autoplaySpeed: 3000,
    
    })
  $( "div.slick-slide > div" ).css( "height", "100%" );
  $( "div.slick-slide > div" ).css( "margin-right", "1rem" );

</script>



<%= render 'shared/lumi' %>
