<%= render 'shared/navbar' %>
<div class="container product-show mt-3 elegant">

	<div class="row product-show  mt-3 mb-3">


	  <div class="col-md-5 ">
	    <div class="sp-loading"><%= image_tag 'sp-loading.gif' %><br>Cargando imagenes</div>
	    <div class="sp-wrap">
	      <% @product.photos.each do |photo| %>
	    	  <a href="<%= photo.image %>"><%= image_tag photo.image %></a>
	      <% end %>
	    </div>
	  </div>

	  <div class="col-md-7 ">

	  	<ul class="list-group">
			<li class="list-group-item">
			  	<h5>Tipo:</h5>
			  	<p class='product-title-show'>
			  		<%= @product.tipo %>
			  	</p>


			  	</li>
		  <li class="list-group-item">
		  	<h5>Descripcion</h5>
		  	<%= @product.descripcion %></li>
		  <li class="list-group-item">
		  	<h5>Medidas</h5>
		  	<%= @product.medidas %></li>
		  <li class="list-group-item">
		  	<h5>Material</h5>
		  	<%= @product.material %></li>
		  	<li class="list-group-item">
		  	<h5>Cod</h5>
		  	<%= @product.cod %></li>
		  	 <li id="precio" class="list-group-item text-right precio">
			  	<h5>Precio</h5>
			  	<%= @product.price %>
			 </li>


		  	<li class="list-group-item text-right">
		  		<%= link_to download_ficha_product_path(@product) do %>
		  			<button class="btn btn-primary  btn-success">
		  				Descargar Ficha
		  			</button>
		  		<% end %>

					<% if @product.autocad.present? %>
					  <%= link_to 'Descargar Autocad', download_autocad_product_path(@product), class:'btn btn-primary btn-success' %>
					<% end %>
		  		<a class="" href="<%= pages_catalogue_path %>">
					<button class="btn btn-primary  btn-success">
						Catalogo
					</button>
				</a>
		  	</li>
		</ul>

	  </div>
	</div>



</div>
<script type="text/javascript">
	$('.nav-link[href="/pages/catalogue"]').parent('li').addClass('active');
</script>
